.header .banner{
    background-color: var(--primary);
    height: 50px;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 var(--default-padding-right) 0 var(--default-padding-left); 
}

.header .banner .banner_social{
    background-color: var(--radler);
    width: 183px;
    list-style-type: none;
    display: flex;
    gap: 20px;
    height: 100%;
}

.header .banner .banner_social li{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .banner .banner_social li:hover{
    transform: scale(1.3);
}

.header .banner .banner__contact{
    display: flex;
    align-items: center;
}

.banner__contact .banner__contact-item{
    padding: 0 19px;
    border-right: 1px solid #FFFFFF36;
    font-family: Sora;
    font-weight: 400px;
    font-style: normal;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 12px;
}



.banner__contact .banner__contact-item:last-child{
    border: none;
}

.header .navigation{
    display: grid;
    grid-template-columns: 220px 1fr 223px;
    padding: 0 var(--default-padding-right) 0 var(--default-padding-left); 
    height: calc(132px - 50px);
    justify-content: center;
    align-items: center;
}

.header .navigation_logo{
    width: 220px;
    height: 54px;
}

.header .navigation menu{
    display: flex;
    list-style: none;
    gap: 20px;
    padding-top: 10px;
}

.navigation menu li{
     font-family: Sora;
    font-weight: 400px;
    font-style: normal;
    font-size: 17px;
    line-height: 17px;
    letter-spacing: 0%;
    vertical-align: middle;
    transform: capitalize;
    cursor: pointer;
    height: 31px;
}

.navigation menu li a{
    text-decoration: none;
    color: var(--crow-black-blue);
    padding: 5px 17px;
    border: 1px solid transparent;

}

.navigation menu li:hover a{
    color: var(--candy-grape-fizz);
    border: 1px solid var(--candy-grape-fizz);
    border-radius: 100px;
}

