:root{
    --primary: #17254E;
    --secondary: #785DD7;
    --radler: #FFD25D;
    --crow-black-blue: #0E2A46;
    --candy-grape-fizz: #704FE6;


    --default-padding-left: 291.5px;
    --default-padding-right: 291.5px;
    --page-width: 1903px;
}